<!--
 * Created in PhpStorm
 * @author Brian Kiehn
 * @date 3/1/2020
 * @version 1.0
 * admin.html
 * GreenRiverDev
 -->
<include href="views/header.html">
    <section class ="container-fluid">
        <div class ="card">
            <div class="card-header">
                <h1>Admin</h1>
            </div><!--end card-header-->
            <div class ="card-body">
                <div class="row justify-content-center"><!-- row 1-->
                    <div class="col">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>State</th>
                                <th>Seeking</th>
                                <th>Biography</th>
                                <th>Premium</th>
                                <th>Interests</th>
                            </tr>
                            </thead>
                            <repeat group="{{ @SESSION.print }}" value="{{ @print }}">
                            <tr>
                                <td>{{@print.fname}} {{@print.lname}}</td>
                                <td>{{@print.age}}</td>
                                <td>{{@print.gender}}</td>
                                <td>{{@print.phone}}</td>
                                <td>{{@print.email}}</td>
                                <td>{{@print.state}}</td>
                                <td>{{@print.seeking}}</td>
                                <td>{{@print.bio}}</td>
                                <td>
                                    <label><input type="checkbox" name="premium"
                                        <check if="{{@print.premium == 0}}">
                                            checked="checked"
                                        </check>disabled>
                                    </label>
                                </td>
                                <td></td>
                            </tr>
                        </repeat>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>