<!--
 * Created in PhpStorm
 * @author Brian Kiehn
 * @date 2/13/2020
 * @version 3.0
 * form2.html
 * GreenRiverDev
 * @link https://github.com/medioxumate/dating3.git
 -->
<include href="views/header.html">
    <section class ="container-fluid">
        <form method ="Post" action ="#">
            <div class ="card">
                <div class="card-header">
                    <h1>Personal Information</h1>
                </div><!--end card-header-->
            <div class ="card-body">
                <div class="row">
                    <div class="col-7"><!--col-7 (column 1)-->
                        <div class ="row"><!--row 1-->
                            <div class ="col form-group">
                                <label><b>Email</b></label>
                                <input class = "form-control" type ="text" name ="em" value ={{@em}}>
                                <check if="{{ @errors['em'] ==true }}">
                                    <div class="alert alert-danger" role="alert">
                                        *email field is empty or invalid. ex: someonecool@domain.com
                                    </div>
                                </check>
                            </div>
                        </div><!--end row 1-->

                        <div class="row"><!--row 2-->
                            <div class ="col form-group">
                                <label><b>State</b>
                                    <select class="form-control" name='st'>
                                        <option>Pick a State</option>
                                        <repeat group="{{ @states }}" value="{{ @stateChoices }}">
                                            <option>{{ @stateChoices }}</option>
                                        </repeat>
                                    </select>
                                    <check if="{{ @errors['st'] =='' }}">
                                        <false>
                                            <div class="alert alert-danger" role="alert">
                                                *state field is empty or invalid.
                                            </div>
                                        </false>
                                    </check>
                                </label>
                            </div>
                        </div><!--end row 2-->

                        <div class ="row"><!--row 3-->
                            <div class="col form-group">
                                <br>
                                <label><b>Seeking: </b><em>*Optional</em></label><br>
                                    <input type ="radio" name ="sk" id ="m" value="Male"><label for ="m">Male</label>
                                    <input type ="radio" name ="sk" id ="f" value ="Female"><label for ="f">Female</label>
                                    <input type ="radio" name ="sk" id ="b" value ="Either Or"><label for ="b">Both</label>
                                    <input type ="radio" name ="sk" id ="o" value ="Other"><label for ="o">Other</label>
                            </div>
                        </div><!--end row 3-->
                    </div><!--end col-7 (column 1)-->
                        <div class="col"><!--col column 2-->
                            <div class="row">
                                <div class="col align-self-center">
                                    <br>
                                    <div class="card">
                                        <div class="card-body">
                                            <label><b>Biography</b> <em>*Optional</em></label>
                                            <textarea class="form-control" name ="bio" rows="10" cols="60">{{@bio}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end column 2-->
                    </div>
                </div><!--end of card-body-->
                <div class ="card-footer">
                    <div class="row justify-content-end">
                        <div class="col offset-10">
                            <button type ="submit">Next</button>
                            <button type ="reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>