<!--
 * Created in PhpStorm
 * @author Brian Kiehn
 * @date 2/13/2020
 * @version 2.0
 * header.html
 * GreenRiverDev
 * @link https://github.com/medioxumate/dating3.git
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--custom style sheet-->
    <link rel="stylesheet" href="styles/styles.css"/>

    <title>{{@title}}</title>
</head>
<body>
    <header class ="container-fluid nav">
        <nav>
            <a class="text-uppercase navbar-header"><em>It's Round</em></a>
            <a class="link" href="it328/dating3/">Home</a>
            <a class="link" href="">link</a>
            <a class="link" href="">link</a>
            <a class="link" href="">link</a>
        </nav>
    </header>