<!--
 * Created in PhpStorm
 * @author Brian Kiehn
 * @date 2/13/2020
 * @version 3.0
 * home.html
 * GreenRiverDev
 * @link https://github.com/medioxumate/dating3.git
 -->
<include href="views/header.html">
    <!-- main body -->
    <section class ="container-fluid">
        <div class ="display-1">
            <p class="text-uppercase">It's Round</p>
        </div>

        <div class ="row">
            <div class ="col">

                <div class ="card">
                    <div class="card-header">
                        <h1>Welcome It's Round!</h1>
                    </div><!--end card-header-->
                    <div class ="card-body">
                        <p>Welcome to the one and only dating site for round earthers!
                            We believe that it hard to find love in a world of flat earthers
                            finding the love of your life hard enough when the Main stream media is trying
                            to force the flat earth narrative down your throat.
                            Here, you don't have to worry about that. Just focus on finding the love of your life!
                        </p>
                    </div><!--end card-body-->
                </div><!--end card-default-->

                <div class ="card">
                    <div class="card-header">
                        <h5 class="card-title">Don't take our word for it. Take theirs!</h5>
                    </div><!--end card-header-->

                    <div class="card-body">
                        <p class="quote"><q class><em>Can't trust the main stream media but you can trust this
                        website made by a guy in his basement.</em></q> - Bud</p>
                        <p class="quote"><q class><em>My dates from Tinder were so two-dimensional.
                            But I met my soulmate here and he is well rounded.</em></q> - Emma</p>
                        <p class="quote"><q class><em>Wait, what's this for again?</em></q> - NASA</p>
                    </div><!--end card-body : quotes-->

                    <div class ="card-footer text-center">
                        <div class ="row" id ="button">
                            <div class ="col-2 offset-10">
                                <form method ="post" action="sign-up">
                                    <button type="submit" class="rounded text-center">Create a Profile!</button>
                                </form>
                            </div><!--end col-2 -->
                        </div><!--end row button-->
                    </div><!--end card-footer-->

                </div><!--end card-default-->
            </div><!--end col-->
            <div class ="row">
                <div class ="col">
                    <img class ="img-fluid rounded" src="images/globe.png" alt="Globalists"/>
                </div><!--end col : image-->
            </div><!--end row : image-->
        </div><!--end row-->
    </section>
</body>
</html>